{% extends "base.html" %}

{% block title %}Merchant Page{% endblock %}
{% block nav_brand %}Homepage{% endblock %}
{% block nav_link_products %}Products{% endblock %}
{% block nav_link_orders %}Orders{% endblock %}
{% block nav_link_report1 %}Top-reviewed Items{% endblock %}
{% block nav_link_report2 %}Top-bonus-points Cutomers{% endblock %}
{% block nav_link_logout %}Logout{% endblock %}

{% block content %}
  <h1>Available products</h1>
  <br>
  <!-- Table for all products -->
  <table class="Table">
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
    {% for p in produkt %}
      <tr>
        <td>{{ p[0] }}</td>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }} </td>
        <td>{{ p[3] }}</td>
      </tr>
    {% endfor %}
  </table>
  <script>